button.product-item.navigation-item.active {
  color: rebeccapurple;
}
div.right-bar.toggle-list {
  display: flex;
}

body.night-mode {
  background-color: #2c2929;
  color: white;
  transition: 1s;
}
body.night-mode nav.navigation-bar {
  background-color: #353535;
  color: white;
  border-color: gray;
  transition: 1s;
}
body.night-mode
  nav.navigation-bar
  div.navigation-container
  figure.left-bar
  div.nav-img-wrapper {
  background-color: white;
  border-radius: 50%;
  transition: 1s;
}

body.night-mode
  nav.navigation-bar
  div.right-bar
  button.product-item.navigation-item.active {
  color: rebeccapurple;
}
body.night-mode nav.navigation-bar div.right-bar button {
  color: #e7e7e7;
  transition: 0.5s;
}
body.night-mode nav.navigation-bar div.right-bar button.navigation-item ol {
  background-color: #2c2929;
  border: none;
  box-shadow: none;
  /* outline: 1px; */
}
body.night-mode
  nav.navigation-bar
  div.right-bar
  button.navigation-item
  ol
  li
  a {
  color: #e7e7e7;
}
body.night-mode div.singleProducts main.display-single-product {
  background-color: #2c2929;
  color: white;
}
body.night-mode
  div.singleProducts
  main.display-single-product
  ul.single-product-list
  li {
  border-color: #949494;
}
body.night-mode
  div.singleProducts
  main.display-single-product
  ul.single-product-list
  li
  article
  h3,
body.night-mode
  div.singleProducts
  main.display-single-product
  ul.single-product-list
  li
  article
  section
  p {
  color: #c3c3c3;
}
body.night-mode
  div.singleProducts
  main.display-single-product
  ul.single-product-list
  li
  article
  aside
  i {
  color: #c3c3c3;
}
body.night-mode h2 {
  color: #ededed;
}
body.night-mode div.wrapper ul.carousel li.card div.product-detail h3,
body.night-mode div.wrapper ul.carousel li.card div.product-detail p,
body.night-mode div.wrapper ul.carousel li.card div.product-detail aside i,
body.night-mode div.wrapper ul.carousel li.card div.product-detail p {
  color: #c3c3c3;
}
body.night-mode div:first-child form.form-subscription button {
  background-color: white;
  color: #353535;
}
body.night-mode footer {
  background-color: black;
}
body.night-mode div.card-product-container {
  background-color: #353535;
}
body.night-mode div.card-product-container div.shop-showing {
  background-color: #353535;
}

body.night-mode div.card-product-container article table,
body.night-mode div.card-product-container article table td {
  border-color: #949494;
  color: #c3c3c3;
}
body.night-mode div.card-product-container article table td select {
  background-color: #949494;
  color: #e7e7e7;
  font-weight: bolder;
}
body.night-mode div.card-product-container article table td select option {
  font-size: 1.7rem;
}

body.night-mode div.card-product-container article table th {
  color: #161616;
}
body.night-mode article.product-view {
  background-color: #2c2929;
}
body.night-mode article.product-view h3 {
  color: #c3c3c3;
}
body.discountActive
  div.highlight-product-container-section
  div.wrapper
  ul.carousel
  li.card
  div.product-detail
  p:last-child {
  display: flex;
}
body.discountActive
  div.highlight-product-container-section
  div.wrapper
  ul.carousel
  li.card
  div.product-detail
  p:not(.discount-price) {
  text-decoration: line-through;
  text-decoration-color: orange;
  text-decoration-thickness: 2px;
  font-size: 1.8rem;
  font-weight: 500;
}
body.discountActive
  div.singleProducts
  main.display-single-product
  ul.single-product-list
  li.single-product
  article
  section
  p.single-discount-price {
  /* background-color: blue; */
  display: block;
  font-weight: 700;
}
body.discountActive
  div.singleProducts
  main.display-single-product
  ul.single-product-list
  li.single-product
  article
  section
  p:not(.single-discount-price) {
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
  text-decoration-color: orange;
}
